
<!DOCTYPE html>
<html>
	<head>
    	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <script type="text/javascript" charset="UTF-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/static/js/djangoajax.js"></script>

        <script type="text/javascript">

        function callback(data, status) {
        $("#echoResult").text("status:"+status+" data:"+data);
        }

        function sends() {
            $.post('/ajax_sample/input/',{"echo": $("#echo").val()},callback,"html");
        }

        </script>

	</head>
	<body>
        Result <br><div id="echoResult"></div><br><br>
        <form action="#" method="post">
            {% csrf_token %}
            <input type="text" name="echo" id="echo" />
            <input type="button" value="submit" onclick="sends()" />
        </form>

	</body>
</html>
